# Parent dir of project
set pdir = `pwd`

# Set directory for tcsh scripts
set scriptdir = $pdir/scripts

# Set directory for executables created from src dir
set exedir = $pdir/objdir

# Set path/name for lblrtm
set lblver = $pdir/lblrtm/lblrtm_v5.21_linux_pgi_sgl

# Set path/name for TAPE3
set t3ver = $pdir/lnfl/create_tape3/TAPE3 
